.btn {
	padding-top: .3em;
	padding-bottom: .3em;
	border-radius: 3px;

	&.focus,
	&:focus {
		box-shadow: none;
	}

	&.disabled {
		cursor: default;
	}

	i,
	.fa-icon {
		position: relative;
		top: 2px;
		font-size: 20px;
		vertical-align: top;
	}

	i:first-child,
	.fa-icon:first-child {
		margin-right: 5px;
	}

	.fa-icon {
		vertical-align: baseline;
	}

	&.input-group-text {
		i {
			top: inherit;
		}
	}
}

.btn-sm {
	i,
	.fa-icon {
		font-size: 16px;
	}
}

.btn-group-sm > .btn,
.btn-sm {
	// padding: .25em .5em;
	font-size: .875em;

	&.dropdown-toggle:not(.is-loading) {
		&:after {
			margin-left: .5em;
		}
	}
}

.btn-lg {
	i,
	.fa-icon {
		font-size: 25px;
	}

	i:first-child,
	.fa-icon:first-child {
		margin-right: 10px;
	}
}

.btn-icon {
	i,
	.fa-icon,
	.text {
		// vertical-align: middle;
	}
}

.btn-icon-danger {
	&:hover {
		i {
			color: $color__red-dark;
		}
	}

	&:disabled {
		i {
			color: inherit;
		}
	}
}

.btn-plain {
	color: $color__text;
	border: 0;
	background: transparent;
	cursor: pointer;

	&:focus {
		outline: 0;
	}

	.material-icons {
		vertical-align: text-bottom;
	}
}

.btn-default {
	color: $color__text;
	border-color: $color__border;
	background-color: $color__button;

	&:hover {
		background-color: darken($color__button, 5%);
	}

	&:active {
		background-color: darken($color__button, 8%);
	}

	&.active {
		color: #fff;
		border-color: darken($color__primary, 5%);
		background-color: $color__primary;
	}

	&.active:hover {
		background-color: darken($color__primary, 8%);
	}
}

.btn-primary {
	color: #fff;
	background-color: $color__primary;
	border-color: darken($color__primary, 5%);

	&:not(:disabled):not(.disabled):active,
	&:hover {
		background-color: darken($color__primary, 8%);
		border-color: darken($color__primary, 5%);
	}

	&.disabled,
	&:disabled {
		color: #fff;
		background-color: lighten($color__primary, 8%);
		border-color: lighten($color__primary, 5%);
	}

	&.is-loading {
		&:after {
			border-left-color: #fff;
			border-bottom-color: #fff;
		}
	}
}

.btn-light {
	background-color: #fff;
	border-color: #e2e2e2;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
	color: #fff;
	border-color: darken($color__primary, 5%);
	background-color: $color__primary;
}

.btn-success {
	&:not(:disabled) {
		background-color: $color__green;

		&:hover {
			background-color: darken($color__green, 8%);
		}
	}

	&.is-loading {
		&:after {
			border-left-color: #fff;
			border-bottom-color: #fff;
		}
	}
}

.btn-group-block {
	width: 100%;
}

.buttons {
	.btn {
		margin-bottom: 0;

		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.buy-button-blue {
	background-color: $color__buy-blue;
}

.buy-button-green {
	background-color: $color__buy-green;
}

.buy-button-orange {
	background-color: $color__buy-orange;
}

.buy-button-red {
	background-color: $color__buy-red;
}

.btn-facebook {
	padding-top: 0;
	padding-bottom: 0;
	color: #fff;
	line-height: 42px;
	background-color: $color__facebook;

	&:hover {
		background-color: darken($color__facebook, 5%);
	}

	&:active {
		background-color: darken($color__facebook, 7%);
	}

	.fa-icon {
		top: 1px;
	}
}

.btn-action {
	padding-top: .5em;
	padding-bottom: .5em;
	font-weight: lighter;
	text-transform: uppercase;
	border-radius: 2em;
	border-color: darken($color__orange, 10%);
	background-color: $color__orange;

	&:hover {
		border-color: darken($color__orange, 10%);
		background-color: darken($color__orange, 10%);
	}

	&:active {
		border-color: darken($color__orange, 10%);
		background-color: darken($color__orange, 15%);
	}
}

.btn-elevate {
	&:hover {
		box-shadow: $shadow-elevate;
	}
}
