$icons: ();

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
}

// @for $i from 1 through length($icons) {
// 	.icon-#{nth($icons, $i)} {
//         background-image: url('/public/img/icon-#{nth($icons, $i)}.png');
//     }
// }

.wf-loading,
.wf-materialicons-n4-inactive {
	.material-icons {
		display: none !important;
	}
}
