.table {
	background-color: #fff;
}

.table-list-menu {
	margin-bottom: 1em;
}

.table-actions {
	margin-bottom: 1em;

	.btn {
		margin-right: 5px;
	}

	.dropdown {
		display: inline-block;
	}
}

.table-fetch-status {
	margin-top: 2em;
	margin-bottom: 3em;
}

.table-filters {
	justify-content: flex-end;

	.btn {
		margin-right: 10px;
	}

	.input {
		// margin-left: auto;
		width: 100%;
		padding: 5px 15px;
		// width: calc(100% - 100px);
	}
}

.table-striped tbody tr:nth-of-type(odd) {
	// background-color: rgba(0,0,0,.02);
	background-color: #f9f9f9;
}

.table-striped tbody tr.highlighted {
	background-color: #e3e3e3;
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}

.row-actions {
	margin-top: .4em;
	font-size: .8em;
	font-weight: normal;
	opacity: 0;
	transition: .2s all ease-in-out;

	&.active {
		opacity: 1;
	}

	a {
		margin-right: 5px;
		color: $color__cyan-darker !important;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			color: $color__cyan !important;
		}

		&:last-child {
			margin-right: 0;
		}

		&.text-danger {
			color: $color__red-light !important;
		}

		i {
			font-size: inherit !important;
		}
	}
}

.table-primary {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

	thead {
		text-align: center;

		th {
			border-bottom: 0;
		}
	}

	tbody {
		// font-size: 1.4em;
	}

	td {
		padding: .9rem;
		// vertical-align: middle;
	}

	tr {
		&:hover {
			.row-actions {
				opacity: 1;
			}
		}
	}

	.full-height-cell {
		height: 1px;
		div {
			min-height: 89px;
			min-width: 89px;
			width: 100% !important;
			height: 100% !important;
		}
	}

	.link {
		// color: inherit;

		&:hover {
			// color: inherit;
			text-decoration: none;
		}
	}
}

.th-sort {
	position: relative;
	cursor: pointer;

	&:hover {
		// color: $color__orange;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 1em;
		margin: auto;
		width: 0;
		height: 0;
		color: #999;
		border-width: 0;
		border-style: solid;
	}
}

.th-sort-asc,
.th-sort-desc {
	padding-right: 2em !important;
	// color: $color__accent;
	color: $color__secondary;
}

.th-sort-asc {
	&:after {
		border-width: 0 5px 5px;
		border-color: transparent transparent #999;
	}
}

.th-sort-desc {
	&:after {
		border-width: 5px 5px 0;
		border-color: #999 transparent transparent;
	}
}

.row-empty {
	background-color: #fff !important;
}

.row-action-more {
	padding-left: .3em;
	padding-right: .3em;
}

.table--small {
	font-size: .9em;
}
