.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.hidden {
	display: none !important;
}

.visible-sm {
	display: none !important;
}

.inline-item {
	display: inline-block;
}

.b-0 {
	border: 0 !important;
}

.absolute-center {
	@include absolute-center;
}

.text-primary {
	color: $color__primary !important;
}

.text-danger {
	color: $color__red-light !important;
}

.text-success {
	color: $color__green !important;
}

.text-gold {
	color: $color__gold;
}

.text-capitalize {
	text-transform: capitalize;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.b-shadow {
	box-shadow: $shadow-medium;
}

.bg-grey {
	background-color: #f9f9f9;
}

.bg-brown {
	background-color: #fbf8f8;
}

.bt-0 {
	border-top: 0 !important;
}

.va-m {
	vertical-align: middle;
}

.is-loading {
	position: relative;
	color: transparent !important;
	pointer-events: none;

	&:after {
		content: '';
		display: block;
		@include absolute-center;
		width: 1em;
		height: 1em;
		border: 2px solid #b9b9b9;
		border-radius: 50%;
		border-right-color: transparent;
		border-top-color: transparent;
		-webkit-animation: spinAround 500ms infinite linear;
		animation: spinAround 500ms infinite linear;
	}

	&.large:after {
		width: 2em;
		height: 2em;
		border-width: 3px;
	}

	&.dark:after {
		border-left-color: #555;
		border-bottom-color: #555;
	}
}
